In [2]:
# Source: https://github.com/murphy-k/svarlr/blob/master/svarlr_example.ipynb
# This is the proper way to install a package within a jupyter notebook 
# environment.
import sys
!{sys.executable} -m pip install svarlr

Requirement already satisfied: svarlr in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (0.0.1)

In [5]:
!{sys.executable} -m pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: requests>=2.19.0 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: six>=1.5 in c:\users\amart\anaconda3\envs\ldk\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [6]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import svarlr
import pandas_datareader as pdr
import seaborn as sns
%matplotlib inline
sns.set()

In [7]:
series = pd.read_csv("Germany.csv")

In [8]:
series.index = series.Year
series = series.drop(['Year'],axis=1)
series

                 TFP  TotHrGrowth
Year
1951-01-01  6.894657     1.037311
1952-01-01  5.080555     0.634502
1953-01-01  4.542223     1.454624
1954-01-01  3.185142     1.806637
1955-01-01  5.412597     2.032252
...              ...          ...
2012-01-01 -0.346423    -0.127787
2013-01-01 -0.059366    -0.288752
2014-01-01  0.591983     1.158355
2015-01-01  0.423489     1.006240
2016-01-01  0.804969     0.616058

[66 rows x 2 columns]

In [9]:
p = 1       # order of VAR lag
nIR = 50    # number of periods for Impulse Response
nIRF = 5    # maximum periods shown in IRF graph

In [10]:
[b, Sig, B] = svarlr.varlr(series,p) # VAR of order 'p'

In [11]:
IRF = svarlr.irflr(b,B,nIR) # Impulse response (or MA coefficients)